/* 

--- 01 TYPOGRAPHY

- Font weights:
Default: 400
Bold: 700

--- 02  COLORS

- Primary: #499A18 #E06733
- Background: #EDF2EC
- Links nav: #010201
- Greys: #717171 #636060 #D9D9D9;

--- 03 SHADOWS

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

--- 04 BORDER-RADIUS
Small: 5px
Medium: 10px
Big: 20px
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #636060;
  overflow-x: hidden;
}

/* **************************** */
/* GENERAL REUSABLE COMPONENTS */
/* **************************** */

.container {
  max-width: 122.2rem;
  margin: 0 auto;
}

/* **************************** */
/* HEADER */
/* **************************** */
header {
  background-color: #edf2ec;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 6rem 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  font-family: "Inika", serif;
  list-style: none;
}

nav .nav-active {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #e06733;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #010201;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #e06733;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  height: 4rem;
}

.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
}

.icon-mobile-nav[src="img/menu-close.svg"] {
  display: none;
}

/* **************************** */
/* WELCOME */
/* **************************** */

.welcome {
  padding: 5.2rem 0;
  background-color: #edf2ec;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-welcome {
  column-gap: 12.3rem;
}

.big-leafs {
  width: 80%;
}

.welcome-text-box {
  padding-top: 4.2rem;
}

.welcone-title {
  font-size: 4.5rem;
  font-weight: 700;
  color: #717171;
  line-height: 5rem;
  margin-bottom: 4.4rem;
}

.welcone-title strong {
  color: #499a18;
}

.welcome-text {
  font-size: 2rem;
  line-height: 3.5rem;
  margin-bottom: 4.9rem;
}

.welcome-btn,
.welcome-btn:link,
.welcome-btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  padding: 1rem 2.4rem;
  border: 2px solid #e06733;
  border-radius: 10px;
  transition: all 0.6s;
  background-color: transparent;
}

/* **************************** */
/* ABOUT */
/* **************************** */
.about {
  margin-top: 10.4rem;
  margin-bottom: 9rem;
}

.subheading {
  font-family: "Inika", serif;
  font-size: 4rem;
  font-weight: 400;
  color: #499a18;
  line-height: 5.2rem;
}

.subheading strong {
  color: #e06733;
  font-weight: 400;
}

.about-text-box {
  align-self: center;
}

.about-text {
  margin-top: 3.8rem;
  font-size: 2rem;
  line-height: 3rem;
}

.about-img-box {
  /* justify-self: end; */
  text-align: right;
}

.about-img {
  width: 75%;
}

/* **************************** */
/* SERVICE */
/* **************************** */

.service {
  background-color: #edf2ec;
  padding: 4rem 0 12rem 0;
}

.service-header {
  display: flex;
  gap: 3.8rem;
  align-items: center;
  margin-bottom: 8rem;
}

.service-projects {
  display: flex;
  gap: 3.9rem;
}

.project-header {
  font-family: "Inika", serif;
  font-size: 2rem;
  color: #e06733;
  padding: 1.2rem 4rem;
  border: 1px solid #e06733;
  border-radius: 5px;
}

.btn-active,
.btn:hover,
.btn:active,
.welcome-btn:hover,
.welcome-btn:active {
  background-color: #e06733;
  color: #fff;
  transition: all 0.6s;
  cursor: pointer;
}

.project-gardens {
  margin-left: 12.2rem;
}

.project-lawn {
  padding: 1.2rem 5.4rem;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 11.7rem;
  row-gap: 6rem;
}

.blur {
  filter: blur(0.2rem);
  transition: all, 0.5s;
}

.project {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  overflow: hidden;
}

.project1 {
  background-image: url("img/project1.jpg");
}

.project2 {
  background-image: url("img/project2.jpg");
}

.project3 {
  background-image: url("img/project3.jpg");
}

.project4 {
  background-image: url("img/project4.jpg");
}

.project5 {
  background-image: url("img/project5.jpg");
}

.project6 {
  background-image: url("img/project6.jpg");
}

.project-img {
  height: 35rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 0.6rem 0 3.4rem 0;
}

.projects-title {
  font-weight: 700;
  font-size: 2rem;
  color: #e06733;
}

.project-desc {
  font-size: 1.6rem;
  color: #717171;
}

/* **************************** */
/* PRICES */
/* **************************** */
.prices {
  padding: 3.8rem 0 10.4rem;
}

.grid-prices {
  align-items: baseline;
  gap: 8rem;
}

.prices-title {
  font-weight: 700;
  font-size: 4rem;
  color: #000;
  margin-bottom: 6rem;
}

.accordian {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 33.2rem;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 3.3rem 3.9rem;
}

.item-price {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 0.9rem;
  width: 25rem;
  justify-content: space-between;
  background-color: #edf2ec;
  padding: 1.4rem 4rem;
  align-items: center;
  border-radius: 20px;
}

.price-text {
  font-weight: 700;
  font-size: 2rem;
  color: #000;
}

.price-btns {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.price-button {
  height: 1.6rem;
  width: 1.6rem;
}

.price-button[src="img/accordion_btn_close.svg"] {
  display: none;
}

.open .price-button[src="img/accordion_btn_close.svg"] {
  display: block;
}

.open .price-button[src="img/accordion_btn.svg"] {
  display: none;
}

.hidden-box {
  grid-column: 1 / 3;
  display: none;
}

.hidden-box-text {
  font-weight: 300;
  font-size: 1rem;
  color: #717171;
  line-height: 1;
  margin-bottom: 0.9rem;
  padding-top: 0.8rem;
  border-top: 0.5px solid #aea1a1;
}

.hidden-box-price {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1.2rem;
}

.hidden-box-price span {
  font-weight: 700;
  color: #e06733;
}

.dollar {
  font-size: 0.9rem;
}

.order-btn {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 0.3rem 1.5rem;

  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
  color: #717171;
}

/* OPEN STATE */

.open {
  background-color: #d6e7d2;
}

.open .hidden-box {
  display: block;
}

.contact {
  text-align: right;
}

.contact-header {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  color: #000;
  margin-bottom: 4rem;
}

.contact-header strong {
  color: #499a18;
}

.contact-btn,
.contact-btn:link,
.contact-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-family: "Inika", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #e06733;
  padding: 1.2rem 3.3rem;
  border: 1px solid #e06733;
  border-radius: 5px;
  transition: all 0.6s;
  cursor: pointer;
  background-color: transparent;
}

.contact-btn:hover,
.contact-btn:active {
  color: #fff;
  background-color: #e06733;
}

.small-leafs {
  margin-top: 3.3rem;
  /* margin-right: -0.9rem; */
}

.small-leafs img {
  height: 100%;
}

/* **************************** */
/* PRICES */
/* **************************** */
.contacts {
  background-color: #edf2ec;
  padding-top: 5.3rem;
}

.contacts-box {
  justify-content: space-between;
  display: flex;
  gap: 3rem;
}

.subheading-contacts {
  font-weight: 700;
}

.contact-city {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 1.7rem;
  width: 45rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 9.5rem;
  background-color: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.contact-city-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;
}

.city-text {
  color: #717171;
  font-size: 2rem;
  font-weight: 400;
  padding: 1.3rem 0;
}

.hidden-contact {
  grid-column: 1 / 3;
  display: none;
  margin: 0 2rem;
}

.hidden-contact-city {
  font-size: 1.6rem;
  color: #499a18;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.hidden-contact-city:last-child {
  margin-bottom: 3.1rem;
}

.hidden-contact-city:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.contact-btns {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 1.5rem;
}

.contact-button {
  height: 1.6rem;
  width: 1.6rem;
}

.contact-button[src="img/accordion_btn_close.svg"] {
  display: none;
}

.open-city .contact-button[src="img/accordion_btn_close.svg"] {
  display: block;
}

.open-city .contact-button[src="img/btn_contacts.svg"] {
  display: none;
}

.address-container {
  margin-top: 4.7rem;
  padding: 3.3rem 1.7rem 3.2rem 3.2rem;
  border: 1px solid #000000;
  border-radius: 20px;
  display: none;
}

.address-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.4rem;

  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

.criterion {
  color: #000;
}

.criterion p,
.info p {
  margin-bottom: 1rem;
}

.info {
  color: #717171;
}

.call-btn {
  text-align: center;
}

.call-button:link,
.call-button:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #717171;
  padding: 0.7rem 2.9rem;
  border: 1px solid #e06733;
  border-radius: 5px;
  justify-content: center;
}

.call-button:hover,
.call-button:active {
  color: #fff;
  background-color: #e06733;
}

/* OPEN STATE */
.open-city .hidden-contact {
  display: block;
}

.selected-city {
  display: block;
}

/* .selected-city, */
.open-city .contact-city-header {
  background-color: #c1e698;
}

/* **************************** */
/* FOOTER */
/* **************************** */

footer {
  padding: 5.5rem 0;
}

.footer {
  display: flex;
  font-size: 2rem;
  color: #000;
  justify-content: space-between;
}

.link-rss:link,
.link-rss:visited,
.link:link,
.link:visited {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.link-rss:hover,
.link-rss:active,
.link:hover,
.link:active {
  color: #e06733;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.6rem;
  align-items: center;
}

.social-link {
  height: 2.6rem;
  width: 2.6rem;
}
